/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 6, sass/styles.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, sass/styles.scss */
.underConstruction {
  width: 100%;
  height: 100%;
}
/* line 13, sass/styles.scss */
.underConstruction ul {
  width: 100%;
  height: 100%;
}
/* line 16, sass/styles.scss */
.underConstruction ul li {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: 1s linear;
}
/* line 24, sass/styles.scss */
.underConstruction ul li.img1 {
  background-image: url("../images/demo1.jpeg");
}
/* line 27, sass/styles.scss */
.underConstruction ul li.img2 {
  background-image: url("../images/demo2.jpeg");
}
/* line 30, sass/styles.scss */
.underConstruction ul li.img3 {
  background-image: url("../images/demo3.jpeg");
}
/* line 33, sass/styles.scss */
.underConstruction ul li.active {
  opacity: 1;
}
/* line 38, sass/styles.scss */
.underConstruction h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 0 0 15px #fff;
}

/* line 51, sass/styles.scss */
section {
  float: left;
  width: 50%;
  background-size: cover;
  background-position: center;
}
/* line 56, sass/styles.scss */
section.nosotrosSection {
  background: #0098ce;
}
/* line 59, sass/styles.scss */
section.serviciosSection {
  background: #cc98ce;
}
/* line 62, sass/styles.scss */
section.clientesSection {
  background: #669844;
}
/* line 65, sass/styles.scss */
section.contactoSection {
  background: #7798ce;
}

/* line 69, sass/styles.scss */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 75, sass/styles.scss */
.logoImage, .modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
