/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
*{
	padding:0;
	margin:0;
}
.underConstruction{
	width: 100%;
	height: 100%;
	ul{
		width: 100%;
		height: 100%;
		li{
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			opacity: 0;
			transition: 1s linear;
			&.img1{
				background-image: url("../images/demo1.jpeg");
			}
			&.img2{
				background-image: url("../images/demo2.jpeg");
			}
			&.img3{
				background-image: url("../images/demo3.jpeg");
			}
			&.active{
				opacity: 1;
			}
		}
	}
	h2{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 60px;
		font-family: 'Permanent Marker', cursive;
		text-shadow: 0 0 15px #fff;
	}
}

header{}
//.indexSection{}
section{
	float: left;
	width: 50%;
	background-size: cover;
	background-position: center;
	position: relative;
	&.nosotrosSection{
		background: #0098ce;
		ul{
			li{
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				&.active{
					opacity: 1;
				}
				&.img1{
					background-image: url(../images/carusel1_1.jpg);
				}
				&.img2{
					background-image: url(../images/carusel1_2.jpg);
				}
				&.img3{
					background-image: url(../images/carusel1_3.jpg);
				}
				&.img4{
					background-image: url(../images/carusel1_4.jpg);
				}
			}
		}
	}
	&.serviciosSection{
		background: #cc98ce;
		overflow:hidden;
		position:relative;
		ul{
			width: 400%;
			position:relative;
			left:0;
			top:0;
			list-style:none;
			margin:0;
			padding:0;
			li{
				float: left;
				&.img1{
					background-image: url(../images/carusel2_1.jpg);
				}
				&.img2{
					background-image: url(../images/carusel2_2.jpg);
				}
				&.img3{
					background-image: url(../images/carusel2_3.jpg);
				}
				&.img4{
					background-image: url(../images/carusel2_4.jpg);
				}
			}
		}
	}
	&.clientesSection{
		background: #669844;
		overflow:hidden;
		position:relative;
		ul{
			width: 400%;
			position:relative;
			left:0;
			top:0;
			list-style:none;
			margin:0;
			padding:0;
			li{
				&.img1{
					background-image: url(../images/carusel3_1.jpg);
				}
				&.img2{
					background-image: url(../images/carusel3_2.jpg);
				}
				&.img3{
					background-image: url(../images/carusel3_3.jpg);
				}
				&.img4{
					background-image: url(../images/carusel3_4.jpg);
				}
			}
		}
	}
	&.contactoSection{
		background: #7798ce;
		ul{
			li{
				opacity: 0;
				transform: scale(0);
				width: 100%;
				height: 100%;
				position: absolute;
				//Falta el top en ambos
				&.active{
					opacity: 1;
					transform: scale(1);
				}
				&.img1{
					background-image: url(../images/carusel4_1.jpg);
				}
				&.img2{
					background-image: url(../images/carusel4_2.jpg);
				}
				&.img3{
					background-image: url(../images/carusel4_3.jpg);
				}
				&.img4{
					background-image: url(../images/carusel4_4.jpg);
				}
			}
		}
	}
	ul{
		list-style: none;
		//transition: 1s;
		li{
			background-size: cover;
			background-position: center;
			transition: 1s;
		}
	}
}
.modal{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
}
.logoImage, .modal_container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
footer{}