doctype html
html(lang="en")
	head
		title pageTitle
		link(rel="stylesheet", href="css/styles.css")
		script(src="js/scripts.min.js")
	body
		section.nosotrosSection
			p nosotros
		section.serviciosSection
			p servicios
		section.clientesSection
			p clientes
		section.contactoSection
			p contacto 123
		.logoImage
			img(src="images/logo_demo.png")