doctype html
html(lang="en")
	head
		title pageTitle
		link(rel="stylesheet", href="css/styles.css")
		script(src="js/scripts.min.js")
	body
		section.nosotrosSection
			ul
				li.active.img1
				li.img2
				li.img3
				li.img4
			p nosotros
		section.serviciosSection
			ul
				li.active.img1
				li.img2
				li.img3
				li.img4
			p servicios
		section.clientesSection
			ul
				li.active.img1
				li.img2
				li.img3
				li.img4
			p clientes
		section.contactoSection
			ul
				li.active.img1
				li.img2
				li.img3
				li.img4
			p contacto
		.logoImage
			img(src="images/logo_demo.png")