doctype html
html(lang="en")
	head
		title pageTitle
		link(rel="stylesheet", href="css/styles.css")
		script(src="js/scripts.min.js")
	body
		header
			p header
		section.indexSection
			p index
		footer
			p footer