doctype html
html(lang="en")
	head
		title pageTitle
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Permanent+Marker")
		link(rel="stylesheet", href="css/styles.css")
		script(src="js/scripts.min.js")
	body
		div.underConstruction
			ul
				li.img1.active
				li.img2
				li.img3
			h2 En constrcción